@import "tailwindcss";
.k2d {
  font-family: var(--font-k2d);
}

.poppins {
  font-family: var(--font-poppins);
}

.inter {
  font-family: var(--font-inter);
}

.montserrat {
  font-family: var(--font-montserrat);
}
